<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="author" content="张兴国 &lt;1131978210@qq.com&gt;">
        <title>
            武汉未来组测序分析项目结题报告
        </title>
        <!-- Bootstrap core CSS -->
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <!-- 可选的Bootstrap主题文件（一般不用引入） -->
        <!--<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">-->
        <!-- Optional Bootstrap Theme -->
        <!--<link href="data:text/css;charset=utf-8," data-href="static/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">-->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="./static/js/html5shiv.js"></script>
		<script src="./static/js//respond.min.js"></script>
        <![endif]-->
        <link href="./static/ccs/docxsearch.ccs" rel="stylesheet">
        <!-- Favicons -->
        <link href="static/css/index.css" rel="stylesheet">
        <link rel="apple-touch-icon" href="">
        <link rel="icon" href="">
        <style type="text/css">

        </style>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-mine mynav">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a href="http://www.nextomics.cn">
                        <img src="./static/image/nextomics_logo.png" height="32px" style="margin-top: -5px">
                        &nbsp世界领先三代测序基因组中心
                    </a>

                </div>
                <p class="navbar-text navbar-left mynav-text"></p>
                <p class="navbar-text navbar-right" style="font-size: 12px;">TEL：400-027-1221 &nbsp&nbsp E-mail：project@grandomics.com</p>
                <br>
            </div>
        </nav>
        <div id="img_bg">
            <div style="padding-left: 30%;padding-top:6%;max-width: 65%">
                <p style="font-size: 32px;font-family: 'PingFang';">真核生物基因组</p>
                <p style="font-size: 48px;font-family: 'HYQiHei';">survey分析报告</p>

                <br>
                <p>项目名称：{{project}}</p>
                <p>合同编号：{{id}}</p>
                <p>样本编号：{{name}}</p>
                <p>测序平台：{{sequencer}}</p>
                <p>分&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp析：{{author}}</p>
                <p>审&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp核：{{reviewer}}</p>
                <p>日&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp期：{{year}}年{{month}}月{{day}}日</p>
            </div>
        </div>
        <div id="icon">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"><a href="main.html#a"><img src="static/image/icon_1.png"><p>项目基本信息</p></a></div>
                    <div class="col-md-2"><a href="main.html#b"><img src="static/image/icon_2.png"><p>项目流程</p></a></div>
                    <div class="col-md-2"><a href="main.html#c"><img src="static/image/icon_3.png"><p>分析结果</p></a></div>
                    <div class="col-md-2"><a href="main.html#e"><img src="static/image/icon_4.png"><p>分析方法</p></a></div>
                    <div class="col-md-2"><a href="main.html#f"><img src="static/image/icon_7.png"><p>帮助文档</p></a></div>
                    <div class="col-md-2"><a href="main.html#g"><img src="static/image/icon_5.png"><p>参考文献</p></a></div>
                    <div class="col-md-2"><a href="main.html#h"><img src="static/image/icon_6.png"><p>联系我们</p></a></div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-fixed-bottom" role="navigation">
            <div class="container">
                <p class="text-center">Copyright @ 2014-2017 武汉未来组生物科技有限公司</p>
            </div>
        </nav>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="static/js/jquery.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="static/js/bootstrap.min.js"></script>
        <!-- Analytics
        ================================================== -->
        <!--<script src="./static/js/jquery.easing.1.3.js"></script>
        <script src="./static/js/scrollify.min.js"></script>
        <script src="./static/js/main.js"></script>-->
        <script>
        </script>
    </body>

</html>
